@media (prefers-color-scheme: light) {
  :root {
    --text-50: hsl(210, 23%, 95%);
    --text-100: hsl(208, 25%, 90%);
    --text-200: hsl(210, 25%, 80%);
    --text-300: hsl(211, 25%, 70%);
    --text-400: hsl(211, 25%, 60%);
    --text-500: hsl(210, 25%, 50%);
    --text-600: hsl(211, 25%, 40%);
    --text-700: hsl(211, 25%, 30%);
    --text-800: hsl(210, 25%, 20%);
    --text-900: hsl(212, 25%, 10%);
    --text-950: hsl(210, 23%, 5%);

    --background-50: hsl(210, 23%, 95%);
    --background-100: hsl(208, 25%, 90%);
    --background-200: hsl(210, 25%, 80%);
    --background-300: hsl(211, 25%, 70%);
    --background-400: hsl(211, 25%, 60%);
    --background-500: hsl(210, 25%, 50%);
    --background-600: hsl(211, 25%, 40%);
    --background-700: hsl(211, 25%, 30%);
    --background-800: hsl(210, 25%, 20%);
    --background-900: hsl(212, 25%, 10%);
    --background-950: hsl(210, 23%, 5%);

    --primary-50: hsl(202, 76%, 95%);
    --primary-100: hsl(201, 73%, 90%);
    --primary-200: hsl(202, 75%, 80%);
    --primary-300: hsl(202, 74%, 70%);
    --primary-400: hsl(202, 74%, 60%);
    --primary-500: hsl(202, 74%, 50%);
    --primary-600: hsl(202, 74%, 40%);
    --primary-700: hsl(202, 74%, 30%);
    --primary-800: hsl(202, 75%, 20%);
    --primary-900: hsl(201, 73%, 10%);
    --primary-950: hsl(202, 76%, 5%);

    --secondary-50: hsl(210, 8%, 95%);
    --secondary-100: hsl(200, 6%, 90%);
    --secondary-200: hsl(200, 6%, 80%);
    --secondary-300: hsl(207, 6%, 70%);
    --secondary-400: hsl(205, 6%, 60%);
    --secondary-500: hsl(204, 6%, 50%);
    --secondary-600: hsl(205, 6%, 40%);
    --secondary-700: hsl(207, 6%, 30%);
    --secondary-800: hsl(200, 6%, 20%);
    --secondary-900: hsl(200, 6%, 10%);
    --secondary-950: hsl(210, 8%, 5%);

    --accent-50: hsl(49, 84%, 95%);
    --accent-100: hsl(50, 80%, 90%);
    --accent-200: hsl(49, 82%, 80%);
    --accent-300: hsl(49, 82%, 70%);
    --accent-400: hsl(49, 82%, 60%);
    --accent-500: hsl(49, 82%, 50%);
    --accent-600: hsl(49, 82%, 40%);
    --accent-700: hsl(49, 82%, 30%);
    --accent-800: hsl(49, 82%, 20%);
    --accent-900: hsl(50, 80%, 10%);
    --accent-950: hsl(49, 84%, 5%);

    /* Manually added */
    --error-color: #cb003f;
    --visited-color: #833ddd;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: hsl(210, 23%, 5%);
    --text-100: hsl(212, 25%, 10%);
    --text-200: hsl(210, 25%, 20%);
    --text-300: hsl(211, 25%, 30%);
    --text-400: hsl(211, 25%, 40%);
    --text-500: hsl(210, 25%, 50%);
    --text-600: hsl(211, 25%, 60%);
    --text-700: hsl(211, 25%, 70%);
    --text-800: hsl(210, 25%, 80%);
    --text-900: hsl(208, 25%, 90%);
    --text-950: hsl(210, 23%, 95%);

    --background-50: hsl(210, 23%, 5%);
    --background-100: hsl(212, 25%, 10%);
    --background-200: hsl(210, 25%, 20%);
    --background-300: hsl(211, 25%, 30%);
    --background-400: hsl(211, 25%, 40%);
    --background-500: hsl(210, 25%, 50%);
    --background-600: hsl(211, 25%, 60%);
    --background-700: hsl(211, 25%, 70%);
    --background-800: hsl(210, 25%, 80%);
    --background-900: hsl(208, 25%, 90%);
    --background-950: hsl(210, 23%, 95%);

    --primary-50: hsl(202, 76%, 5%);
    --primary-100: hsl(201, 73%, 10%);
    --primary-200: hsl(202, 75%, 20%);
    --primary-300: hsl(202, 74%, 30%);
    --primary-400: hsl(202, 74%, 40%);
    --primary-500: hsl(202, 74%, 50%);
    --primary-600: hsl(202, 74%, 60%);
    --primary-700: hsl(202, 74%, 70%);
    --primary-800: hsl(202, 75%, 80%);
    --primary-900: hsl(201, 73%, 90%);
    --primary-950: hsl(202, 76%, 95%);

    --secondary-50: hsl(210, 8%, 5%);
    --secondary-100: hsl(200, 6%, 10%);
    --secondary-200: hsl(200, 6%, 20%);
    --secondary-300: hsl(207, 6%, 30%);
    --secondary-400: hsl(205, 6%, 40%);
    --secondary-500: hsl(204, 6%, 50%);
    --secondary-600: hsl(205, 6%, 60%);
    --secondary-700: hsl(207, 6%, 70%);
    --secondary-800: hsl(200, 6%, 80%);
    --secondary-900: hsl(200, 6%, 90%);
    --secondary-950: hsl(210, 8%, 95%);

    --accent-50: hsl(49, 84%, 5%);
    --accent-100: hsl(50, 80%, 10%);
    --accent-200: hsl(49, 82%, 20%);
    --accent-300: hsl(49, 82%, 30%);
    --accent-400: hsl(49, 82%, 40%);
    --accent-500: hsl(49, 82%, 50%);
    --accent-600: hsl(49, 82%, 60%);
    --accent-700: hsl(49, 82%, 70%);
    --accent-800: hsl(49, 82%, 80%);
    --accent-900: hsl(50, 80%, 90%);
    --accent-950: hsl(49, 84%, 95%);

    /* Manually added */
    --error-color: #fb003f;
    --visited-color: #995fe6;
  }
}

:root {
  --fs-root: 16px;

  --sp-base: var(--fs-root);
  /* vertical padding */
  --sp-1: calc(var(--sp-base) / 2);
  /* between content in cards and for grid gutters when crowded */
  --sp-2: calc(var(--sp-base) / 16 * 10);
  /* between cards on the same line or grid gutters */
  --sp-3: calc(var(--sp-base));
  /* between headings and content, line height, button horizontal padding */
  --sp-4: calc(var(--sp-base) * 2);
  /* between content in hero */
  --sp-5: calc(var(--sp-base) * 3);
  /* vertical card title and content, navbar side padding */
  --sp-6: calc(var(--sp-base) * 6);
  /* sections */
  --sp-7: calc(var(--sp-base) * 8);

  font-size: var(--fs-root);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: var(--sp-4);
  color: var(--text-700);

  --nav-link-color: var(--background-950);
  --nav-visited-color: var(--background-950);
  --nav-hover-color: var(--primary-500);
  --nav-active-color: var(--primary-500);

  --focus-outline-color: var(--secondary-600);
  --shadow-color: var(--secondary-50);

  /* https://www.massmediums.com/blog/134-create-great-looking-pure-css-text-shadows.html */
  --form-control-box-shadow: inset 0 1px 3px #8c8c8c;
  --text-shadow-hard: 0.3rem 0.3rem 0px rgba(0, 0, 0, 0.2);
  --text-shadow-soft: 0.125rem 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
  --text-shadow-soft-even: 0 0 0.3rem rgba(0, 0, 0, 0.5);

  --rounded-border-radius: 0.25rem;
}

body {
  background-color: var(--background-50);
}

.noSpacing {
  margin: 0;
  padding: 0;
}

.sideMargins {
  padding: 0 5vw;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 100%;
  color: var(--text-800);
  text-align: center;
}

h3,
h4,
h5 {
  font-weight: 400;
  line-height: 100%;
  color: var(--text-900);
}

html {
  font-size: 1rem; /* 16px */
}

h1 {
  font-family: var(--font-title);
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-family: var(--font-heading);
  font-size: 3.158rem; /* 50.56px */
  line-height: 150%;
  color: var(--text-900);
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

a.onDark:not(button > a),
a.onDark:not(button > a):visited {
  color: var(--nav-link-color);
  text-decoration: none;
}

a.onDark:not(button > a):active {
  color: var(--nav-active-color);
}

a:not(button > a) {
  text-decoration: underline;
}

a:not(button > a):visited {
}

a:not(button > a):active {
}

a:not(button > a):focus {
  outline: 2px solid var(--focus-outline-color);
}

button.socialBtn {
  color: var(--primary-800);
  line-height: 0;
  border-radius: 100%;
  font-size: 1.25rem;
  padding: 0.25rem;
  background-color: transparent;
  border: 2px solid var(--primary-800);
}

button.socialBtn:hover {
  color: var(--accent-500);
  border: 2px solid var(--accent-500);
}

@media (min-width: 1001px), (orientation: landscape) {
  .sideMargins {
    /* side padding: 12vw full and 5vw mobile */
    padding: 0 12vw;
  }

  a.onDark:not(button > a) {
    color: var(--nav-link-color);
    text-decoration: none;
  }

  a.onDark:not(button > a):visited {
    color: var(--nav-visited-color);
  }

  a.onDark:not(button > a):hover {
    color: var(--nav-hover-color);
  }

  a.onDark:not(button > a):active {
    color: var(--nav-active-color);
  }

  a.onDark:not(button > a):focus {
  }

  a:not(button > a) {
    text-decoration: none;
    color: var(--primary-500);
  }

  a.external {
    display: inline-flex;
    gap: var(--sp-1);
    align-items: center;
    text-decoration: underline dotted var(--primary-500);
    text-decoration-thickness: 2px;
  }

  a.external:not(.nav):visited {
    color: var(--visited-color);
    text-decoration-color: var(--visited-color);
  }

  a:not(button > a):hover {
    text-decoration: underline;
  }

  a.nav:not(.logo, button > a):hover {
    transform: scale(1.05);
    transform-origin: bottom;
  }

  a.nav:not(.logo, button > a):hover > svg {
    transform: none;
  }

  a:not(button > a):focus {
    outline: 2px solid var(--focus-outline-color);
  }

  button.rt-BaseButton.socialBtn {
    color: var(--accent-500) !important;
  }

  button.rt-BaseButton.socialBtn:hover {
    cursor: pointer;
  }
}
